<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>noName</servlet-name>
		<servlet-class>Controller.NoName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>noName</servlet-name>
		<url-pattern>/noName</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>noName2</servlet-name>
		<servlet-class>Controller.NoName2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>noName2</servlet-name>
		<url-pattern>/noName2</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>signUpH</servlet-name>
		<servlet-class>Controller.SignUpH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signUpH</servlet-name>
		<url-pattern>/signUpH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginH</servlet-name>
		<servlet-class>Controller.LoginH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginH</servlet-name>
		<url-pattern>/loginH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutH</servlet-name>
		<servlet-class>Controller.LogoutH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutH</servlet-name>
		<url-pattern>/logoutH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showingMyPageH</servlet-name>
		<servlet-class>Controller.ShowingMyPageH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showingMyPageH</servlet-name>
		<url-pattern>/showingMyPageH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateMyInfoH</servlet-name>
		<servlet-class>Controller.UpdateMyInfoH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateMyInfoH</servlet-name>
		<url-pattern>/updateMyInfoH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showingBoardH</servlet-name>
		<servlet-class>Controller.ShowingBoardH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showingBoardH</servlet-name>
		<url-pattern>/showingBoardH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>writePostH</servlet-name>
		<servlet-class>Controller.WritePostH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writePostH</servlet-name>
		<url-pattern>/writePostH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletePostH</servlet-name>
		<servlet-class>Controller.DeletePostH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletePostH</servlet-name>
		<url-pattern>/deletePostH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteCommentH</servlet-name>
		<servlet-class>Controller.DeleteCommentH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCommentH</servlet-name>
		<url-pattern>/deleteCommentH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showingPostH</servlet-name>
		<servlet-class>Controller.ShowingPostH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showingPostH</servlet-name>
		<url-pattern>/showingPostH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>writeCommentH</servlet-name>
		<servlet-class>Controller.WriteCommentH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeCommentH</servlet-name>
		<url-pattern>/writeCommentH</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>scoreH</servlet-name>
		<servlet-class>Controller.ScoreH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scoreH</servlet-name>
		<url-pattern>/scoreH</url-pattern>
	</servlet-mapping>
	
</web-app>